body {
  background-image: url('지진그림.png');
  background-size: cover; 
  background-position: center; 
}

h1 {
  text-align: center; 
  font-size: 10em; 
  color:rgb(242, 233, 228);
}

#nextPage img{
  position: absolute; 
  top: 350px; 
  right: 350px;
  width: 100px; 
  height: auto; 
}




